---
## /* vim: set ft=yaml tabstop=2 softtabstop=2 shiftwidth=2 expandtab smarttab autoindent: */

source_directories:
- '/etc'
- '/root'
{% if 'docker' in group_names %}
- '/var/lib/docker/volumes'
{% endif %}
{% if borg_directories is defined %}{% for dir in borg_directories %}
- '{{ dir }}'
{% endfor %}{% endif %}

repositories:
- path: '{{ borgbase_repository_fullpath }}'
  label: 'borgbase'

one_file_system: true

numeric_ids: true
atime: true
ctime: true
birthtime: true
flags: true

exclude_patterns:
- '*.pyc'
- '~/*/.cache'

exclude_caches: true
exclude_if_present:
- '.nobackup'

compression: 'auto,zstd'
encryption_passphrase: '{{ borgbase_passphrase }}'
archive_name_format: '{hostname}-{now}'

keep_daily: 3
keep_weekly: 4
keep_monthly: 12
keep_yearly: 2

{% if borg_before_hooks is defined %}
# List of one or more shell commands or scripts to execute before creating a backup.
before_backup:
{% for hook in borg_before_hooks %}
- '{{ hook }}'
{% endfor %}{% endif %}
